- if (message.error)
    .error-message Error: 
        =message.error

- if (message.info)
    .info-message Info: 
        =message.info

- if (message.success)
    .success-message Success: 
        =message.success

