extends ../layouts/default

block body
    h1 Native login 
    - if(message)
        h2 
        =message

    form(method='post', action='/login')
        label Email
        input(type='text', name='email')
        label Password
        input(type='password', name='password')

        input(type='submit', name='submit', value='Login') 

    h2 or 
        a(href="/auth/facebook") login with facebook 