extends ../layouts/default

block body
    h1 Reset your password
    h2 
        =user.email
    
    include ../includes/flash/message

    form(method='post', action='/reset')
        label Password
        input(type='password', name='password')

        label Repeat password
        input(type='password', name='validate_password')
        
        input(type='hidden', name='_csrf', value='#{_csrf}')
        input(type='submit', name='submit', value='Send') 